FootballManagement.Client/Service References/FootballManagementServiceReference/FootballManagement.Commons.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FootballManagement.Commons.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FootballManagement.Commons.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Match" nillable="true" type="tns:Match" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="isRedCard" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cards" nillable="true" type="tns:ArrayOfCard" />
      <xs:element minOccurs="0" name="Goals" nillable="true" type="tns:ArrayOfGoal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MatchDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayer" />
      <xs:element minOccurs="0" name="Referees" nillable="true" type="tns:ArrayOfReferee" />
      <xs:element minOccurs="0" name="Team" nillable="true" type="tns:Team" />
      <xs:element minOccurs="0" name="Team1" nillable="true" type="tns:Team" />
      <xs:element minOccurs="0" name="Tournament" nillable="true" type="tns:Tournament" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
  <xs:complexType name="ArrayOfGoal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Goal" nillable="true" type="tns:Goal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoal" nillable="true" type="tns:ArrayOfGoal" />
  <xs:complexType name="Goal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Match" nillable="true" type="tns:Match" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Goal" nillable="true" type="tns:Goal" />
  <xs:complexType name="Player">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Person">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cards" nillable="true" type="tns:ArrayOfCard" />
          <xs:element minOccurs="0" name="Goals" nillable="true" type="tns:ArrayOfGoal" />
          <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsCaptain" type="xs:boolean" />
          <xs:element minOccurs="0" name="Matches" nillable="true" type="tns:ArrayOfMatch" />
          <xs:element minOccurs="0" name="Team" nillable="true" type="tns:Team" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
  <xs:complexType name="Team">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Matches" nillable="true" type="tns:ArrayOfMatch" />
      <xs:element minOccurs="0" name="Matches1" nillable="true" type="tns:ArrayOfMatch" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayer" />
      <xs:element minOccurs="0" name="Tournament" nillable="true" type="tns:Tournament" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Tournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Matches" nillable="true" type="tns:ArrayOfMatch" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referees" nillable="true" type="tns:ArrayOfReferee" />
      <xs:element minOccurs="0" name="Teams" nillable="true" type="tns:ArrayOfTeam" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Tournament" nillable="true" type="tns:Tournament" />
  <xs:complexType name="ArrayOfReferee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Referee" nillable="true" type="tns:Referee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferee" nillable="true" type="tns:ArrayOfReferee" />
  <xs:complexType name="Referee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Person">
        <xs:sequence>
          <xs:element minOccurs="0" name="Degree" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Matches" nillable="true" type="tns:ArrayOfMatch" />
          <xs:element minOccurs="0" name="Tournaments" nillable="true" type="tns:ArrayOfTournament" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Referee" nillable="true" type="tns:Referee" />
  <xs:complexType name="ArrayOfTournament">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tournament" nillable="true" type="tns:Tournament" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTournament" nillable="true" type="tns:ArrayOfTournament" />
  <xs:complexType name="ArrayOfTeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Team" nillable="true" type="tns:Team" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeam" nillable="true" type="tns:ArrayOfTeam" />
</xs:schema>